<div class="intro-phone">
  <a href="#" class="nonclick-phone btn btn-default btn-lg">
    <span class="phone-text">Call {{ site.phone }}</span>
    <i class="fa fa-phone fa-fw fa-rotate-270 fa-2x"></i>
  </a>
  <a href="tel:{{ site.phonenumber }}" class="click-phone btn btn-default btn-lg">
    <span class="phone-text">Click to Call</span>
    <i class="fa fa-phone fa-fw fa-rotate-270 fa-2x"></i>
  </a>
</div>
