---
title: Home
layout: frontpage
group: navigation
---
<div class="cover">
    <div class="cover-image" style="background-image: url('{{ site.baseurl }}/{{site.alt-first-image}}')"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="well text-center opaque">
                    <h1>{{ site.title }}</h1>
                    {% markdown frontpage/intro.md %}
                    {% include general/intro-phone.html %}
                    <div class="page-scroll">
                      <a href="#internal-main">
                        <i class="fa fa-chevron-down"></i>
                      </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-1" id="internal-main">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {% markdown frontpage/lead.md %}
      </div>
      <div class="col-md-4 col-md-offset-2">
        <div class="text-center">
          <img class="img-responsive"src="{{ site.baseurl }}/{{ site.frontpage-lead-image }}" alt="">
          <div class="lead topspace">
            {% markdown frontpage/phone-intro-heading.md %}
          </div>
          {% include general/intro-phone.html %}
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
<div class="section">
  <div class="container">
    {% include general/services.html %}
    <hr>
  </div>
</div>
<div class="section section-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-center">{% markdown frontpage/phone-intro-heading.md %}</h2>
                {% include general/intro-phone.html %}
            </div>
        </div>
    </div>
</div>
<div class="section-3 section">
    <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
              <h2 class="text-center">What Our Clients Say</h2>
          </div>
            <div class="col-md-6">
              <blockquote>
                {% markdown frontpage/testimonial-content-1.md %}
                <footer>
                  {% markdown frontpage/testimonial-person-1.md %}
                </footer>
              </blockquote>
            </div>
            <div class="col-md-6">
                <blockquote>
                    <p>Irene is the best ever!</p>
                    <footer>Someone famous</footer>
                </blockquote>
            </div>
            <div class="col-md-6">
                <blockquote>
                    <p>Irene is the best ever!</p>
                    <footer>Someone famous</footer>
                </blockquote>
            </div>
            <div class="col-md-6">
                <blockquote>
                    <p>Mike is fantastic!</p>
                    <footer>Someone famous</footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
    </div>
</div>
{% if site.team == true %}
  {% include general/team.html %}
{% endif %}
