<!--<div class="navbar navbar-default navbar-inverse navbar-static-top">-->
<div class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="button-label">Menu</span>
        <div class = "button-burger">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}"><i class="fa fa-graduation-cap"></i>&nbsp;<span>{{ site.title }}</span></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
      <ul class="nav navbar-nav navbar-right">
        {% for node in site.data.nav %}
          {% if node.subcategories != null %}
          <li class="dropdown">
            <a href="{{ site.baseurl }}{{ node.url }}" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">{{ node.title }}&nbsp;<i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
            {% for subcategory in node.subcategories %}
              {% if page.url == subcategory.subhref/ %}
                <li class="active"><a href="{{ site.baseurl }}{{ subcategory.subhref }}" class="active">{{subcategory.subtitle}}</a></li>
              {% else %}
                <li><a href="{{ site.baseurl }}{{ subcategory.subhref }}">{{subcategory.subtitle}}</a></li>
              {% endif %}
            {% endfor %}
            </ul>
          </li>
          {% else %}
          {% if page.url == node.url/ %}
            <li class="active"><a href="{{ site.baseurl }}{{node.url}}" class="active">{{node.title}}</a></li>
          {% else %}
            <li><a href="{{ site.baseurl }}{{node.url}}">{{node.title}}</a></li>
          {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
