h1, h2, h3, h4 {

  font-family: "Istok Web", Arial, sans-serif;

}

.main {
  h2 {
  margin-top: 0;
  }
}

.post-header {

  h1{
    margin-top: 0;
  }
  
}

.alt-home {
  h1 {
    font-size: 60px;
  }
}

h3 {
  border-bottom: solid 2px @brand-primary;
  padding-bottom: 10px;
  //font-size: 30px;
}
